<div
  class={{concat
    "floating-picker__container"
    (if @datePicker " is-date-picker")
  }}
  {{setup-offsets this.receiveOffsetFromModifier}}
  {{set-position this.pickerPosition}}
  {{click-outside this.closePicker}}
  {{did-update this.openWatcher @open}}
  {{click-stop-propagation}}
>
  {{yield this.closePicker}}
</div>