<div id="<%= dom_id task_attachment %>">
  <p>
    <strong>Task:</strong>
    <%= task_attachment.task_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= task_attachment.project_id %>
  </p>

  <p>
    <strong>Document url:</strong>
    <%= task_attachment.document_url %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= task_attachment.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= task_attachment.name %>
  </p>

</div>
