<div class="floating-picker" {{on "click" this.flipOpen}}>
  {{yield}}
  <Common::FloatingPicker @open={{this.open}} @datePicker={{true}}>
    <PowerCalendar
      @center={{this.center}}
      @selected={{@selectedDate}}
      @onSelect={{fn this.onSelectionOfDate}}
      @onCenterChange={{this.onCenterChange}}
      as |calendar|
    >
      <calendar.Nav />
      <calendar.Days />
    </PowerCalendar>
  </Common::FloatingPicker>
</div>